<a href="https://colab.research.google.com/github/kalyan-81/DataScience-using-Python/blob/main/Python_MySQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CHAPTER: PYTHON'S DATABASE CONNECTIVITY
The data may be related to employees in the organization or the operational data like proudct information, raw material prices, sales information, profits and losses.\
Without data, no organization will survive. Hence, data is very important and it should never be lost.

# DBMS

To store data, we can use a flile or a database.\
A file stores data in the secondary storage device, like hard disk, either in text format or binary format.


A database represents the collection of data. Just like a file, we can store the data into a database.\
Once the data is stored in a database, we need to perform some operations on data, for example modifying the existing data, deleting the unwanted data, or retrieving the data from data base, etc.

To perform such operations, a database comes with a software this is called a database management system(DBMS).

**DBMS = database + software to manage the data**

# Examples of DBMS:
* MySQL
* Oracle
* Sybase
* SQL server,etc

 # when we have files to handle data, why we need a DBMS?
 
 # Advantages of DBMS over Files
 
* If we go for files, we have to write a lot of programming.
     * **Example**
          * To store data into a file
          * To retrieve the data
          * To modify data
  A lot of programmer's time is consumed in developing these programs.
      
      
* If we use DBMS we can achieve all these using simple tasks without writing any program.
  
     * we coan store data 
     * retrieve data
     * modify or delete it
      by giving simple commands.
      
   **These commands are written in a language called SQL(structured query language)**
      
      
 
* Files are not efficient in handling large volumes of data. It would be difficult task to enter large into a file or retrieving it from a file. **but DBMS can handle large volumes of data efficiently and easily**

* When multiple users are accessing the data concurrently from the same file, there are changes of wrong results or inconsistent changes to the existing data. **DBMS can take care of Such problems**

* Once the changes are made to the file, we cannot restore back them. **Incase of DBMS we can restore the previous state of data by rolling back the changes**

* Files offers very weak security of data,**whereas, DBMS offers very good pretection for the data.**

# Types of databases used with Python

* some of the important databases which can be connected through python are
 * MySQL
 * Oracle
 * Microsoft SQL Server
 * Sybase
 * Informix
 * Firebird, etc.
 In this tutorial we will focus on 
 * MySQL
 * Oracle
 
 # Installation of MySQL Database software
 
 * MySQL is an open source database software that is used by many top development companies to store and retrieve data.
 * MySQL can manage several databases at a time.
 * The data in databases stored in the form of tables.
 * A table contains several number of rows and columns of data.
 
 since we want to work with MySQL database in Python language, first of all we should have MySQL software installed on our computer system.
 
 1. Open the mysql.com website and download MySQL installer and install it.
 
 Install MySQL Driver
Python needs a MySQL driver to access the MySQL database.

In this tutorial we will use the driver "MySQL Connector".

We recommend that you use PIP to install "MySQL Connector".

PIP is most likely already installed in your Python environment.

In [ ]:
pip install mysqlclient

Collecting mysqlclient
  Downloading mysqlclient-2.1.0-cp38-cp38-win_amd64.whl (180 kB)
Installing collected packages: mysqlclient
Successfully installed mysqlclient-2.1.0
Note: you may need to restart the kernel to use updated packages.

In [ ]:
from jupyter_client.manager import KernelManager

In [ ]:
help('modules')

Please wait a moment while I gather a list of all available modules...

C:\Users\home\miniconda3\lib\site-packages\skimage\viewer\utils\__init__.py:1: UserWarning: Recommended matplotlib backend is `Agg` for full skimage.viewer functionality.
  from .core import *
NOTE: Redirects are currently not supported in Windows or MacOs.
Created a temporary directory at C:\Users\home\AppData\Local\Temp\tmpqdd6vxpd
C:\Users\home\miniconda3\lib\pkgutil.py:107: VisibleDeprecationWarning: zmq.eventloop.minitornado is deprecated in pyzmq 14.0 and will be removed.
    Install tornado itself to use zmq with the tornado IOLoop.

  yield from walk_packages(path, info.name+'.', onerror)

Cython              click               mistune             sspicon
IPython             cmath               mkl                 stat
MySQLdb             cmd                 mkl_fft             statistics
OpenSSL             code                mkl_random          statsmodels
PIL                 codecs              mmap                storemagic
PyQt5               codeop              mmapfile            string
__future__          collections         mmsystem            stringprep
_abc                colorama            modulefinder        struct
_ast                colorsys            modules             subprocess
_asyncio            commctrl            msilib              sunau
_bisect             compileall          msvcrt              symbol
_blake2             concurrent          multidict           sympyprinting
_bootlocale         conda               multiprocessing     symtable
_bz2                conda_env           mysql               sys
_cffi_backend       conda_package_handling mysqlx              sysconfig
_codecs             configparser        nbclassic           tabnanny
_codecs_cn          contextlib          nbclient            tarfile
_codecs_hk          contextvars         nbconvert           telnetlib
_codecs_iso2022     copy                nbformat            tempfile
_codecs_jp          copyreg             nest_asyncio        tensorboard
_codecs_kr          coverage            netbios             tensorboard_data_server
_codecs_tw          crypt               netrc               tensorboard_plugin_wit
_collections        cryptography        networkx            tensorflow
_collections_abc    csv                 nntplib             tensorflow_estimator
_compat_pickle      ctypes              notebook            tensorflow_io_gcs_filesystem
_compression        curses              nt                  termcolor
_contextvars        cv2                 ntpath              terminado
_csv                cv2_excises1        ntsecuritycon       test
_ctypes             cv2_getting_start_with_images nturl2path          test_pycosat
_ctypes_test        cwp                 numbers             testpath
_datetime           cycler              numpy               tests
_decimal            cython              oauthlib            textwrap
_distutils_hack     cythonmagic         odbc                this
_dummy_thread       dataclasses         olefile             threading
_elementtree        datetime            opcode              threadpoolctl
_functools          dateutil            openpyxl            tifffile
_hashlib            dbi                 operator            time
_heapq              dbm                 opt_einsum          timeit
_imp                dde                 optparse            timer
_io                 debugpy             os                  tkinter
_json               decimal             packaging           token
_locale             decorator           pandas              tokenize
_lsprof             defusedxml          pandocfilters       torch
_lzma               difflib             parser              torchvision
_markupbase         dis                 parso               tornado
_md5                distutils           pasta               tqdm
_msi                doctest             pathlib             trace
_multibytecodec     dummy_threading     patsy               traceback
_multiprocessing    easyocr             pdb                 tracemalloc
_mysql_connector    editdistance        perfmon             traitlets
_mysqlxpb           efficientnet        pickle              tty
_nsis               email               pickleshare         turtle
_opcode             encodings           pickletools         turtledemo
_operator           ensurepip           pip                 types
_osx_support        entrypoints         pipes               typing
_overlapped         enum                pixellib            typing_extensions
_pickle             errno               pkg_resources       unicodedata
_py_abc             essential_generators pkgutil             unittest
_pydecimal          et_xmlfile          platform            urllib
_pyio               faulthandler        plistlib            urllib3
_pyrsistent_version filecmp             poplib              uu
_queue              fileinput           posixpath           uuid
_random             flask               pprint              validators
_sha1               flatbuffers         profile             venv
_sha256             fnmatch             prometheus_client   warnings
_sha3               fontTools           prompt_toolkit      wave
_sha512             formatter           pstats              wcwidth
_signal             fractions           pty                 weakref
_sitebuiltins       ftplib              pvectorc            webbrowser
_socket             functools           py_compile          webencodings
_sqlite3            gast                pyasn1              websocket
_sre                gc                  pyasn1_modules      werkzeug
_ssl                genericpath         pyclbr              wheel
_stat               getopt              pyclipper           widgetsnbextension
_statistics         getpass             pycosat             win2kras
_string             gettext             pycparser           win32api
_strptime           glob                pydoc               win32clipboard
_struct             google_auth_oauthlib pydoc_data          win32com
_symtable           grpc                pyexpat             win32con
_system_path        gzip                pygments            win32console
_testbuffer         h5py                pylab               win32cred
_testcapi           hashlib             pyparsing           win32crypt
_testconsole        heapq               pyreadline          win32cryptcon
_testimportmultiple hmac                pyrsistent          win32event
_testinternalcapi   html                pytesseract         win32evtlog
_testmultiphase     http                pythoncom           win32evtlogutil
_thread             idlelib             pytz                win32file
_threading_local    idna                pywin               win32gui
_tkinter            image_alignment     pywin32_bootstrap   win32gui_struct
_tracemalloc        image_alignment_simple_example pywin32_testutil    win32help
_warnings           imageio             pywintypes          win32inet
_weakref            imantics            pywt                win32inetcon
_weakrefset         imaplib             pyximport           win32job
_win32sysloader     imgaug              qtconsole           win32lz
_winapi             imghdr              qtpy                win32net
_winxptheme         imp                 queue               win32netcon
_xxsubinterpreters  importlib           quopri              win32pdh
_yaml               importlib_metadata  random              win32pdhquery
abc                 inspect             rasutil             win32pdhutil
absl                io                  re                  win32pipe
adodbapi            ipaddress           readline            win32print
afxres              ipykernel           regcheck            win32process
aifc                ipykernel_launcher  regutil             win32profile
aiohttp             ipython_genutils    reprlib             win32ras
antigravity         ipywidgets          requests            win32rcparser
anyio               isapi               requests_oauthlib   win32security
argon2              itertools           rlcompleter         win32service
argparse            itsdangerous        rmagic              win32serviceutil
array               jedi                rsa                 win32timezone
ast                 jinja2              ruamel_yaml         win32trace
astor               joblib              runpy               win32traceutil
astunparse          json                sched               win32transaction
async_generator     json5               scipy               win32ts
async_timeout       jsonschema          seaborn             win32ui
asynchat            jupyter             secrets             win32uiole
asyncio             jupyter_client      select              win32verstamp
asyncore            jupyter_console     selectors           win32wnet
atexit              jupyter_core        send2trash          win_inet_pton
attr                jupyter_server      servicemanager      wincertstore
audioop             jupyterlab          setuptools          winerror
autoreload          jupyterlab_pygments shapely             winioctlcon
babel               jupyterlab_server   shelve              winnt
backcall            jupyterlab_widgets  shlex               winperf
base64              jwt                 shutil              winpty
bdb                 keras               signal              winreg
bidi                keras_applications  sip                 winsound
binascii            keras_ocr           sipconfig           winxpgui
binhex              keras_preprocessing sipdistutils        winxptheme
bisect              keyword             site                wrapt
bleach              kiwisolver          six                 wsgiref
blinker             labelme2coco        skimage             xdrlib
brotli              lib2to3             sklearn             xlrd
bs4                 linecache           smtpd               xml
builtins            locale              smtplib             xmljson
bz2                 logging             sndhdr              xmlrpc
cProfile            lxml                sniffio             xxsubtype
cachetools          lzma                socket              yaml
caffe2              mailbox             socketserver        yarl
calendar            mailcap             socks               zipapp
certifi             markdown            sockshandler        zipfile
cffi                markupsafe          soupsieve           zipimport
cgi                 marshal             sqlite3             zipp
cgitb               math                sre_compile         zlib
chardet             matplotlib          sre_constants       zmq
charset_normalizer  matplotlib_inline   sre_parse           ~-mpy
chunk               menuinst            ssl                 ~umpy
clang               mimetypes           sspi                ~~mpy

Enter any module name to get more help.  Or, type "modules spam" to search
for modules whose name or summary contain the string "spam".

# Using MySQL from Python

To work with MySQL in a python program, we have to use **MySQLdb** module.

In [ ]:
import MySQLdb

To establish a connection with MySQL database, we use the method **connect()** of **MySQLdb** module.

In [ ]:
conn=MySQLdb.connect(host='localhost',database='world',user='root',password='4509')# returns MySQL connection class object 'conn'

In [ ]:
print(conn)

<_mysql.connection open to 'localhost' at 0000022C22C72260>

host = in the network, server's ip address should be given as host. if we use individual computer, then string 'local host' can be supplied.

database = this is the database name to connect to.

User= this represents the user name. Generally this is root

password = this indicates the root password.

In [ ]:
#create cursor class object by calling the cursor() method on "conn"
cursor=conn.cursor()

* cursor object is useful to execute SQL commands on the database. for this purpose we can use execute() method of 'cursor' object as:

In [ ]:
cursor.execute("SHOW DATABASES")

6

In [ ]:
for x in cursor:
  print(x)

('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

# Test MySQL Connector
To test if the installation was successful, or if you already have "MySQL Connector" installed, create a Python page with the following content:

In [ ]:
import mysql.connector

# Create Connection
Start by creating a connection to the database.

Use the username and password from your MySQL database:

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="4509"
)

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000022C3675DA90>

# Now you can start querying the database using SQL statements.

# Creating a Database
To create a database in MySQL, use the "CREATE DATABASE" statement:

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="4509"
)

mycursor = mydb.cursor()

mycursor.execute("CREATE DATABASE mydatabase")

# Check if Database Exists
You can check if a database exist by listing all databases in your system by using the "SHOW DATABASES" statement:

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="4509"
)

mycursor = mydb.cursor()

mycursor.execute("SHOW DATABASES")

for x in mycursor:
    print(x)

('information_schema',)
('mydatabase',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

In [ ]:
#Try connecting to the database "mydatabase":

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="4509",
  database="mydatabase"
)

# Creating a Table
To create a table in MySQL, use the "CREATE TABLE" statement.

Make sure you define the name of the database when you create the connection

In [ ]:
#Create a table named "customers":

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="4509",
  database="mydatabase"
)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE customers (name VARCHAR(255), address VARCHAR(255))")

# Check if Table Exists
You can check if a table exist by listing all tables in your database with the "SHOW TABLES" statement:

In [ ]:
#Return a list of your system's databases:

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="4509",
  database="mydatabase"
)

mycursor = mydb.cursor()

mycursor.execute("SHOW TABLES")

for x in mycursor:
    print(x)

('customers',)

# Primary Key
When creating a table, you should also create a column with a unique key for each record.

This can be done by defining a PRIMARY KEY.

We use the statement "INT AUTO_INCREMENT PRIMARY KEY" which will insert a unique number for each record. Starting at 1, and increased by one for each record.

In [ ]:
#Create primary key when creating the table:

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="4509",
  database="mydatabase"
)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE customers (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), address VARCHAR(255))")

ProgrammingError: 1050 (42S01): Table 'customers' already exists

# If the table already exists, use the ALTER TABLE keyword:

In [ ]:
#Create primary key on an existing table:

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="4509",
  database="mydatabase"
)

mycursor = mydb.cursor()

mycursor.execute("ALTER TABLE customers ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")

# Insert Into Table
To fill a table in MySQL, use the "INSERT INTO" statement.

In [ ]:
#Insert a record in the "customers" table:

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="4509",
  database="mydatabase"
)

mycursor = mydb.cursor()

sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("John", "Highway 21")
mycursor.execute(sql, val)

mydb.commit()#Important!: Notice the statement: mydb.commit(). It is required to make the changes, otherwise no changes are made to the table.

print(mycursor.rowcount, "record inserted.")

1 record inserted.

# Insert Multiple Rows
To insert multiple rows into a table, use the executemany() method.

The second parameter of the executemany() method is a list of tuples, containing the data you want to insert:

In [ ]:
#Fill the "customers" table with data:

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="4509",
  database="mydatabase"
)

mycursor = mydb.cursor()

sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = [
  ('Peter', 'Lowstreet 4'),
  ('Amy', 'Apple st 652'),
  ('Hannah', 'Mountain 21'),
  ('Michael', 'Valley 345'),
  ('Sandy', 'Ocean blvd 2'),
  ('Betty', 'Green Grass 1'),
  ('Richard', 'Sky st 331'),
  ('Susan', 'One way 98'),
  ('Vicky', 'Yellow Garden 2'),
  ('Ben', 'Park Lane 38'),
  ('William', 'Central st 954'),
  ('Chuck', 'Main Road 989'),
  ('Viola', 'Sideway 1633')
]

mycursor.executemany(sql, val)

mydb.commit()

print(mycursor.rowcount, "was inserted.")

13 was inserted.

# Get Inserted ID
You can get the id of the row you just inserted by asking the cursor object.

Note: If you insert more than one row, the id of the last inserted row is returned.

In [ ]:
#Insert one row, and return the ID:

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="4509",
  database="mydatabase"
)

mycursor = mydb.cursor()

sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("Michelle", "Blue Village")
mycursor.execute(sql, val)

mydb.commit()

print("1 record inserted, ID:", mycursor.lastrowid)

1 record inserted, ID: 15

# Select From a Table
To select from a table in MySQL, use the "SELECT" statement:

In [ ]:
#Select all records from the "customers" table, and display the result:

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="4509",
  database="mydatabase"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM customers")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('John', 'Highway 21', 1)
('Peter', 'Lowstreet 4', 2)
('Amy', 'Apple st 652', 3)
('Hannah', 'Mountain 21', 4)
('Michael', 'Valley 345', 5)
('Sandy', 'Ocean blvd 2', 6)
('Betty', 'Green Grass 1', 7)
('Richard', 'Sky st 331', 8)
('Susan', 'One way 98', 9)
('Vicky', 'Yellow Garden 2', 10)
('Ben', 'Park Lane 38', 11)
('William', 'Central st 954', 12)
('Chuck', 'Main Road 989', 13)
('Viola', 'Sideway 1633', 14)
('Michelle', 'Blue Village', 15)

# Note: We use the fetchall() method, which fetches all rows from the last executed statement.

# Selecting Columns
To select only some of the columns in a table, use the "SELECT" statement followed by the column name(s):

In [ ]:
#Select only the name and address columns:

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="4509",
  database="mydatabase"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT name, address FROM customers")

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('John', 'Highway 21')
('Peter', 'Lowstreet 4')
('Amy', 'Apple st 652')
('Hannah', 'Mountain 21')
('Michael', 'Valley 345')
('Sandy', 'Ocean blvd 2')
('Betty', 'Green Grass 1')
('Richard', 'Sky st 331')
('Susan', 'One way 98')
('Vicky', 'Yellow Garden 2')
('Ben', 'Park Lane 38')
('William', 'Central st 954')
('Chuck', 'Main Road 989')
('Viola', 'Sideway 1633')
('Michelle', 'Blue Village')

# Using the fetchone() Method
If you are only interested in one row, you can use the fetchone() method.

The fetchone() method will return the first row of the result:

In [ ]:
#Fetch only one row:

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="4509",
  database="mydatabase"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM customers")

myresult = mycursor.fetchone()

print(myresult)

('John', 'Highway 21', 1)

# Select With a Filter
When selecting records from a table, you can filter the selection by using the "WHERE" statement:

In [ ]:
#Select record(s) where the address is "Park Lane 38": result:

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="4509",
  database="mydatabase"
)

mycursor = mydb.cursor()

sql = "SELECT * FROM customers WHERE address ='Park Lane 38'"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('Ben', 'Park Lane 38', 11)

# Wildcard Characters
You can also select the records that starts, includes, or ends with a given letter or phrase.

Use the %  to represent wildcard characters:

In [ ]:
#Select records where the address contains the word "way":

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="4509",
  database="mydatabase"
)

mycursor = mydb.cursor()

sql = "SELECT * FROM customers WHERE address LIKE '%way%'"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('John', 'Highway 21', 1)
('Susan', 'One way 98', 9)
('Viola', 'Sideway 1633', 14)

# Prevent SQL Injection
When query values are provided by the user, you should escape the values.

This is to prevent SQL injections, which is a common web hacking technique to destroy or misuse your database.

The mysql.connector module has methods to escape query values:

In [ ]:
#Escape query values by using the placholder %s method:

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="4509",
  database="mydatabase"
)

mycursor = mydb.cursor()

sql = "SELECT * FROM customers WHERE address = %s"
adr = ("Yellow Garden 2", )

mycursor.execute(sql, adr)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('Vicky', 'Yellow Garden 2', 10)

# Sort the Result
Use the ORDER BY statement to sort the result in ascending or descending order.

The ORDER BY keyword sorts the result ascending by default. To sort the result in descending order, use the DESC keyword.

In [ ]:
#Sort the result alphabetically by name: result:

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="4509",
  database="mydatabase"
)

mycursor = mydb.cursor()

sql = "SELECT * FROM customers ORDER BY name"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('Amy', 'Apple st 652', 3)
('Ben', 'Park Lane 38', 11)
('Betty', 'Green Grass 1', 7)
('Chuck', 'Main Road 989', 13)
('Hannah', 'Mountain 21', 4)
('John', 'Highway 21', 1)
('Michael', 'Valley 345', 5)
('Michelle', 'Blue Village', 15)
('Peter', 'Lowstreet 4', 2)
('Richard', 'Sky st 331', 8)
('Sandy', 'Ocean blvd 2', 6)
('Susan', 'One way 98', 9)
('Vicky', 'Yellow Garden 2', 10)
('Viola', 'Sideway 1633', 14)
('William', 'Central st 954', 12)

# ORDER BY DESC
Use the DESC keyword to sort the result in a descending order.

In [ ]:
#Sort the result reverse alphabetically by name:

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="4509",
  database="mydatabase"
)

mycursor = mydb.cursor()

sql = "SELECT * FROM customers ORDER BY name DESC"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('William', 'Central st 954', 12)
('Viola', 'Sideway 1633', 14)
('Vicky', 'Yellow Garden 2', 10)
('Susan', 'One way 98', 9)
('Sandy', 'Ocean blvd 2', 6)
('Richard', 'Sky st 331', 8)
('Peter', 'Lowstreet 4', 2)
('Michelle', 'Blue Village', 15)
('Michael', 'Valley 345', 5)
('John', 'Highway 21', 1)
('Hannah', 'Mountain 21', 4)
('Chuck', 'Main Road 989', 13)
('Betty', 'Green Grass 1', 7)
('Ben', 'Park Lane 38', 11)
('Amy', 'Apple st 652', 3)

# Delete Record
You can delete records from an existing table by using the "DELETE FROM" statement:

In [ ]:
#Delete any record where the address is "Mountain 21":

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="4509",
  database="mydatabase"
)

mycursor = mydb.cursor()

sql = "DELETE FROM customers WHERE address = 'Mountain 21'"

mycursor.execute(sql)

mydb.commit()

print(mycursor.rowcount, "record(s) deleted")

1 record(s) deleted

Important!: Notice the statement: mydb.commit(). It is required to make the changes, otherwise no changes are made to the table.

Notice the WHERE clause in the DELETE syntax: The WHERE clause specifies which record(s) that should be deleted. If you omit the WHERE clause, all records will be deleted!

# Prevent SQL Injection
It is considered a good practice to escape the values of any query, also in delete statements.

This is to prevent SQL injections, which is a common web hacking technique to destroy or misuse your database.

The mysql.connector module uses the placeholder %s to escape values in the delete statement:

In [ ]:
#Escape values by using the placeholder %s method:

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="4509",
  database="mydatabase"
)

mycursor = mydb.cursor()

sql = "DELETE FROM customers WHERE address = %s"
adr = ("Yellow Garden 2", )

mycursor.execute(sql, adr)

mydb.commit()

print(mycursor.rowcount, "record(s) deleted")

1 record(s) deleted

# Delete a Table
You can delete an existing table by using the "DROP TABLE" statement:

In [ ]:

#Delete the table "customers":

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="4509",
  database="mydatabase"
)

mycursor = mydb.cursor()

sql = "DROP TABLE customers"

mycursor.execute(sql)

ProgrammingError: 1051 (42S02): Unknown table 'mydatabase.customers'

# Drop Only if Exist
If the the table you want to delete is already deleted, or for any other reason does not exist, you can use the IF EXISTS keyword to avoid getting an error.

Example

In [ ]:
#Delete the table "customers" if it exists:

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="4509",
  database="mydatabase"
)

mycursor = mydb.cursor()

sql = "DROP TABLE IF EXISTS customers"

mycursor.execute(sql)

# Update Table
You can update existing records in a table by using the "UPDATE" statement:

In [ ]:
#Overwrite the address column from "Valley 345" to "Canyon 123":

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="4509",
  database="mydatabase"
)

mycursor = mydb.cursor()

sql = "UPDATE customers SET address = 'Canyon 123' WHERE address = 'Valley 345'"

mycursor.execute(sql)

mydb.commit()

print(mycursor.rowcount, "record(s) affected")

ProgrammingError: 1146 (42S02): Table 'mydatabase.customers' doesn't exist

Important!: Notice the statement: mydb.commit(). It is required to make the changes, otherwise no changes are made to the table.

Notice the WHERE clause in the UPDATE syntax: The WHERE clause specifies which record or records that should be updated. If you omit the WHERE clause, all records will be updated!

# Prevent SQL Injection
It is considered a good practice to escape the values of any query, also in update statements.

This is to prevent SQL injections, which is a common web hacking technique to destroy or misuse your database.

The mysql.connector module uses the placeholder %s to escape values in the delete statement:

In [ ]:
#Escape values by using the placeholder %s method:

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="4509",
  database="mydatabase"
)

mycursor = mydb.cursor()

sql = "UPDATE customers SET address = %s WHERE address = %s"
val = ("Valley 345", "Canyon 123")

mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "record(s) affected")

ProgrammingError: 1146 (42S02): Table 'mydatabase.customers' doesn't exist

# Limit the Result
You can limit the number of records returned from the query, by using the "LIMIT" statement:

In [ ]:
#Select the 5 first records in the "customers" table:

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="4509",
  database="mydatabase"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM customers LIMIT 5")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

ProgrammingError: 1146 (42S02): Table 'mydatabase.customers' doesn't exist

# Start From Another Position
If you want to return five records, starting from the third record, you can use the "OFFSET" keyword:

In [ ]:
#Start from position 3, and return 5 records:

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="4509",
  database="mydatabase"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM customers LIMIT 5 OFFSET 2")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

ProgrammingError: 1146 (42S02): Table 'mydatabase.customers' doesn't exist

# Join Two or More Tables
You can combine rows from two or more tables, based on a related column between them, by using a JOIN statement.

Consider you have a "users" table and a "products" table:

In [ ]:
'''users
{ id: 1, name: 'John', fav: 154},
{ id: 2, name: 'Peter', fav: 154},
{ id: 3, name: 'Amy', fav: 155},
{ id: 4, name: 'Hannah', fav:},
{ id: 5, name: 'Michael', fav:}'''

"users\n{ id: 1, name: 'John', fav: 154},\n{ id: 2, name: 'Peter', fav: 154},\n{ id: 3, name: 'Amy', fav: 155},\n{ id: 4, name: 'Hannah', fav:},\n{ id: 5, name: 'Michael', fav:}"

In [ ]:
'''products
{ id: 154, name: 'Chocolate Heaven' },
{ id: 155, name: 'Tasty Lemons' },
{ id: 156, name: 'Vanilla Dreams' }'''

These two tables can be combined by using users' fav field and products' id field.

In [ ]:
#Join users and products to see the name of the users favorite product:

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="4509",
  database="mydatabase"
)

mycursor = mydb.cursor()

sql = "SELECT \
  users.name AS user, \
  products.name AS favorite \
  FROM users \
  INNER JOIN products ON users.fav = products.id"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)
#Note: You can use JOIN instead of INNER

ProgrammingError: 1146 (42S02): Table 'mydatabase.users' doesn't exist

# LEFT JOIN
In the example above, Hannah, and Michael were excluded from the result, that is because INNER JOIN only shows the records where there is a match.

If you want to show all users, even if they do not have a favorite product, use the LEFT JOIN statement:

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="4509",
  database="mydatabase"
)

mycursor = mydb.cursor()

sql = "SELECT \
  users.name AS user, \
  products.name AS favorite \
  FROM users \
  LEFT JOIN products ON users.fav = products.id"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

ProgrammingError: 1146 (42S02): Table 'mydatabase.users' doesn't exist

# RIGHT JOIN
If you want to return all products, and the users who have them as their favorite, 
even if no user have them as their favorite,  use the RIGHT JOIN statement:

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="4509",
  database="mydatabase"
)

mycursor = mydb.cursor()

sql = "SELECT \
  users.name AS user, \
  products.name AS favorite \
  FROM users \
  RIGHT JOIN products ON users.fav = products.id"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

ProgrammingError: 1146 (42S02): Table 'mydatabase.products' doesn't exist